In [1]:
#https://www.kaggle.com/anaskad/step-by-step-solving-titanic-problem
#Titanic Project: data cleaning and predicting

import pandas as pd
import numpy as np
import csv as csv

from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier

#Shuffle the datasets
from sklearn.utils import shuffle

#Learning curve
import matplotlib.pyplot as plt
from sklearn.model_selection import learning_curve
from sklearn.model_selection import ShuffleSplit

addpoly = True
plot_lc = 0   # 1--display learning curve/ 0 -- don't display

print('---------Load train & test files--------')

train_dataset = pd.read_csv("D:/Aditya/datasets/Titanic all/train.csv")
test_dataset = pd.read_csv("D:/Aditya/datasets/Titanic all/test.csv")
print('train dataset: %s, test dataset %s' %(str(train_dataset.shape), str(test_dataset.shape)))
train_dataset.head()

---------Load train & test files--------
train dataset: (891, 12), test dataset (418, 11)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
print("Id is unique.") if train_dataset.PassengerId.nunique()==train_dataset.shape[0] else print('oops')

Id is unique.

In [8]:
print ('Train and test sets are distinct.') if len(np.intersect1d(train_dataset.PassengerId.values, test_dataset.PassengerId.values))==0 else print('oops')

Train and test sets are distinct.

In [9]:
datasetHasNan = False
if train_dataset.count().min()==train_dataset.shape[0] and test_dataset.count().min()==test_dataset.shape[0] :
    print('We do not need t oworry about missing values.')
else:
    datasetHasNan = True
    print('Oops we have Nan')

Oops we have Nan

In [12]:
print("----------------train dataset column types information--------------------")
dtype_df = train_dataset.dtypes.reset_index()
dtype_df.columns = ["Count", "Column Type"]
dtype_df.groupby("Column Type").aggregate('count').reset_index()

----------------train dataset column types information--------------------

  Column Type  Count
0       int64      5
1     float64      2
2      object      5

In [ ]:
# print('----train dataset information-------')
dtype_df